<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>
<main>
    <a class="text-white font-weight-bolder" th:href="@{/users/register}">Register</a>
    <a class="text-white font-weight-bolder" th:href="@{/users/login}">Login!</a>
</main>
<div class="fixed-bottom">
    <th:block th:include="~{fragments/footer}"></th:block>
</div>
</body>
</html>